.main-box {
	background-color: var(--color-secondary);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.main-box .title {
	flex-grow: 1;
	height: fit-content;
	color: var(--color-primary);
	font-size: 2rem;
	font-weight: bold;
	border-bottom: solid var(--color-primary) 0.5rem;
	padding: 0.5rem;
	text-transform: uppercase;
	flex-wrap: nowrap;
}

.main-box .item-box {
	max-height: 25rem;
	overflow-y: scroll;
}

.main-box::-webkit-scrollbar {
	display: none;
}

.item-box::-webkit-scrollbar {
	display: none;
}

.main-box .item {
	/* padding-left: 2rem; */
	text-align: start;
	max-height: 6rem;
	max-width: fit-content;

	/* display: flex;
	flex-direction: column; */
}
