.Nav-Btn {
	text-decoration: none;
	font-size: 2rem;
	font-weight: bold;
	text-transform: uppercase;
	color: rgb(48, 46, 46);
	width: 100%;
	border: none;
}

.Nav-Btn button {
	text-align: left;
	height: 100%;
	margin: 0;
	padding: 0;
}

.Nav-Btn:hover {
	color: var(--color-secondary);
	background-color: var(--color-primary);
	text-decoration: none;
}
